{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Home</h1>
<img src="/static/logo.png" alt="ECE 117 course logo." id="home-logo" />
<p>
  Welcome to Bruin Market, your ultimate destination for a seamless and
  personalized online shopping experience. At Bruin Market, we redefine the way
  you shop by offering a curated selection of high-quality products that cater
  to your diverse needs and preferences. From trendy fashion essentials to
  cutting-edge electronics and lifestyle must-haves, our e-commerce platform
  brings together a myriad of choices to elevate your shopping journey. Discover
  the convenience of secure transactions, swift deliveries, and a user-friendly
  interface that makes Bruin Market your go-to destination for all your online
  shopping desires. Shop with confidence, shop with Bruin Market.
</p>
{% endblock %}
